
profiles {
    standard {
        process.executor = 'local'
    }

    pbs {
        process.executor = 'pbs'
        process.queue = 'cu'
    }
    sge {
        process.executor='sge'
        process.queue ='all.q'
        process.penv = 'smp'
        
    }    
    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }

}


timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/NGI-RNAseq_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/NGI-RNAseq_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/NGI-RNAseq_trace.txt"

}
